<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.okr.mapper.TestMapper">
	<select id="testLstInqr" parameterType="com.project.okr.model.TestModel" resultType="com.project.okr.model.TestModel">
		<![CDATA[
			SELECT TEST_ID, TEST_NM, REGI_DTTM
			FROM TEST_TBL
		]]>
	</select>
</mapper>